body {
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset {
    height: 28vh;
    width: 60vh;
    border-radius: 20px;
    margin-left: 500px;
    margin-bottom: 200px;
    background-color: cornflowerblue;
}

#input {
    align-items: center;
    justify-content: center;
}

.first {
    margin-top: 20px;
    color: white;
}

.second {
    margin-bottom: 20px;
    color: white;
}

.password {
    cursor: pointer;
}

.confirmpassword {
    cursor: pointer;
}